/*
navy blue #024b6d
gold?? #ae8e1b #d9aa3a*/

body {
    background-color: #f9fcff;
}

.navbar li.active a.nav-link {
    color: #024b6d;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
    color: #024b6d !important;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
    color: #024b6d;
    outline: none;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
    background: #024b6d;
    color: #fff !important;
}

.slicknav_btn {
    margin: 14px 0;
    background-color: #024b6d;
    padding: 8px 9px 7px;
}

.slicknav_nav {
    background-color: #fff;
    overflow: auto;
    max-height: 350px;
    padding: 20px 10px;
}
.slicknav_menu img {
    width: 200px;
    height: 56px;
}

.page-header {
    padding: 115px 0px 50px;
    position: relative;
    background: url(../img/banner.png);
}

.btn-common {
    background: #024b6d;
}

.btn-border {
    border-color: #024b6d;
    color: #024b6d;
}

.pricing-table:hover .btn-border,
.pricing-active .btn-border {
    background: #024b6d;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.2);
}

.button-group .button {
    background: #024b6d;
    color: #fff;
}

.owl-nav button {
    background: #024b6d !important;
    border-radius: 4px !important;
}

.owl-dots .active span {
    background: #024b6d !important;
}

.right-sideabr .list-item .notinumber {
    float: right;
    width: 20px;
    height: 20px;
    background: #024b6d;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}



/* ==========================================================================
   Hero Area
   ========================================================================== */

/*
.hero-area .contents {
    padding: 100px 0 25px;
}
*/

.hero-area .contents h2 {
    color: #333;
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 25px;
    text-align: right;
}

.hero-area .contents p {
    color: #9a9a9a;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
}

.job-search-form .btn {
    font-size: 18px;
}

/* ==========================================================================
   Counter
   ========================================================================== */
#counter {
    padding: 0px 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#counter .counter-box {
    padding: 20px 0 10px;
}

#counter .counter-box h3 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}

#counter .counter-box .icon i {
    font-size: 40px;
    color: #024b6d;
}

/* ==========================================================================
   Institutions call to action
   ========================================================================== */
.institution-cta .btn-common {
    background: #024b6d;
    float: right;
}

.institution-cta h3,
.institution-cta p {
    text-align: right;

}

/* ==========================================================================
   companies call to action
   ========================================================================== */
.product-item .product-content .tags span {
    color: #024b6d;
}


/* ==========================================================================
   pricing section
   ========================================================================== */
.pricing-table .icon i {
    font-size: 42px;
    color: #024b6d;
}

.owl-dots span:hover {
    background: #024b6d;
}

/* ==========================================================================
   sign up section
   ========================================================================== */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #024b6d;
}

a,
a:hover,
a:focus {
    color: #024b6d;
}

/* ==========================================================================
   back to top button
   ========================================================================== */
.back-to-top {
    background: #024b6d;
}

/* ==========================================================================
   footer
   ========================================================================== */
footer .footer-Content {
    background-color: #024b6d;
    padding: 60px 0;
    color: #d9aa3a;
}

footer .menu li a {
    color: #8a99b3;
    font-size: 14px;
}

#copyright {
    background-color: #f9fcff;
    padding: 20px 0 10px;
    color: #024b6d;
}

#copyright p {
    line-height: 34px;
    color: #024b6d;
}

#subscribe-form .form-group .btn-common {
    background: #d9aa3a;
}

/*organization*/

.styled-select > select {
    height: 39px;
    padding: 10px 0px;
}

.post-job .styled-select {
    width: 100%;
    background-color: #FFF;
    border-radius: 30px;
    border: 1px solid #ececec;
    border-radius: 30px;
    color: #9a9a9a;
    padding: 0 15px;
    display: block;
}

@media (min-width: 992px) {
    .welcome-text {
        display: none;
    }

    .hero-area .contents {
        padding: 100px 0 25px;
    }

    .cta-btn-display-sm {
        display: none;
    }
}

@media (max-width: 992px) {

    #browse-jobs h3,
    p {
        text-align: center;
    }

    .counters p {
        text-align: left;
    }

    .hero-area .contents h2 {
        display: none;
    }

    .hero-area .contents .welcome-text h2 {
        padding-top: 0px;
        text-align: center;
        font-size: 1.32em !important;
        display: inherit;
        padding-bottom: 0px;
    }

    .institution-cta h3,
    .institution-cta p {
        text-align: center;
    }

    .cta-btn {
        text-align: center;
    }

    .cta-btn-display-lg {
        display: none;
    }

    .cta-btn-display-sm {
        display: inherit;
    }

    .footer-Content p {
        text-align: left;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    #browse-jobs .text-wrapper {
        padding-bottom: 0px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .hero-area .contents {
        padding: 20px 0 0px;
    }

    .hero-area .contents .welcome-text h2 {
        padding-top: 60px;
        padding-bottom: 0;
        margin-bottom: 0;
        text-align: center;
        display: inherit;
    }
}

@media only screen and (max-width: 767px) {
    .hero-area .contents {
        padding: 20px 0 0px;
    }

    .hero-area .contents .welcome-text h2 {
        padding-top: 60px;
        padding-bottom: 0;
        margin-bottom: 0;
        text-align: center;
        display: inherit;
    }

    #browse-jobs .text-wrapper {
        padding-bottom: 0px;
    }
}

@media (max-width: 480px) and (min-width: 320px) {
    .hero-area .contents {
        padding: 20px 0 0px;
    }

    .hero-area .contents .welcome-text h2 {
        padding-top: 60px;
        padding-bottom: 0;
        margin-bottom: 0;
        text-align: center;
        display: inherit;
    }
}
